{% extends 'base.html' %} {% block head %}
<title>Edit page</title>
<style>
  .text-danger {
    color: red;
  }
</style>
{% endblock %} {% block content %} {% include 'header.html' %}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2 my-2">
      <h1>Edit {{ product.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% if error|length > 0 %}
      <p style="color: red">{{ error }}</p>
      {% endif %}
    </div>
    <div class="col-8 offset-2">
      <form action="{% url 'edit_product' pk=product.id %}" method="POST">
        {% csrf_token %} {% for field in form %}
        {% if field.name == "category_id" %}
        <div class="mb-2">
          <label for="category_id" class="form-label">Select category</label>
          <select class="form-select" id="category_id" name="category_id" aria-label="Select category">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        {% else %}
        <div class="mb-2">
          <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
          {{ field }}
          <div class="text-danger">{{ field.errors }}</div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="w-full d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Edit Product</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'footer.html' %} {% endblock %}
